Repository cleder/crepr, pull requests merged in 2024-10, with the labels that each got.

#63 Update crepr.py #51
  crepr/crepr.py
  tests/classes/class_with_repr_test.py
  tests/classes/class_without_repr.py
  tests/classes/module_error.py
  tests/run_test.py
Labels: enhancement, Review effort [1-5]: 2, error handling

#62 Adding ignore existing flag #56
  crepr/crepr.py
  tests/classes/existing_repr_test.py
  tests/run_test.py
Labels: enhancement, Tests, Review effort [1-5]: 3, hacktoberfest-accepted

#64 feat: sparse output of the changes
  crepr/crepr.py
  tests/run_test.py
Labels: enhancement, Tests, Review effort [1-5]: 2, hacktoberfest-accepted

#65 release 0.5.0
  .github/workflows/run-all-tests.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  crepr/about.py
  crepr/crepr.py
  tests/classes/class_with_repr_test.py
  tests/classes/class_without_repr.py
  tests/classes/existing_repr_test.py
  tests/classes/module_error.py
  tests/remove/__init__.py
  tests/run_test.py
Labels: enhancement, dependencies, Tests, Review effort [1-5]: 4
